@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap');
*{margin: 0; padding: 0; font-family: 'Noto Sans KR';}
ul{list-style: none;}
a{text-decoration: none; color: #000; }

.wrap{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}
.wrap.on{
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.header .header-list{
    width: 100%;
    height: 100px;
    position: fixed;
    /* background-color: rgba(54, 54, 54, 0.85); */
    z-index: 99;
}
.header .header-list .list-wrap{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-list .nav ul{
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.header .header-list .nav ul li.on a{
    color: #fbf394;
    position: relative;
}
.header .header-list .nav ul li.on a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #363636;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header .header-list .nav ul li a{
    /* color: #f3f4ef; */
    color: #000;
}
.header .header-list .hamburger{
    cursor: pointer;
    display: none;
}
.header .header-list .hamburger .line{
    width: 28px;
    height: 1px;
    background-color: #fff;
}
.header .header-list .hamburger .line:nth-child(2){
    margin: 8px 0;
}
.header .header-list .side-nav{
    position: fixed;
    top: 0;
    width: 230px;
    background-color: #ddd;
    height: 100%;
    right: -300px;
    transition: 0.5s;
}
.header .header-list .side-nav.on{
    right: 0;
    transition: 0.5s;
}
.header .header-list .side-nav .nav-wrap{
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    padding-top: 30px;
}
.header .header-list .side-nav .nav-wrap i{
    padding-bottom: 110px;
    font-size: 20px;
    cursor: pointer;
}
.header .header-list .side-nav .nav-wrap i:hover{
    color: #fbf394;
}
.header .header-list .side-nav .nav-wrap ul{
    margin-top: 150px;
    font-weight: bold;
}
.header .header-list .side-nav .nav-wrap ul li:hover a{
    transition: 0.3s;
    color: #fbf394;
}
.header .header-list .side-nav .nav-wrap ul li:nth-child(2){
    margin: 80px 0;
}


.header .exp-header{
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.header .header-left{
    /* width: 710px; */
    flex-basis: 35%;
    /* height: 1035px; */
    background-color: #363636;
}
.header .header-left .left-wrap{
    width: 100%;
    /* min-width: 365px;
    max-width: 565px; */
    margin: 0 auto;
    /* padding-top: 320px; */
    padding-top: 70%;
}

.header .header-left .left-wrap img{
    width: 99%;
}
.header .header-right{
    flex-basis: 65%;
    margin-left: 15%;
    padding-top: 470px;
    padding-right: 5%;
}
.header .header-right .header-title{
    /* font-size: 60px; */
    font-size: 3.2vw;
    font-weight: bold;
    position: relative;
    width: 100%;
}
.header .header-right .header-title::after{
    content: "";
    position: absolute;
    /* width: 457px; */
    width: 65%;
    height: 4px;
    background-color: #f9f494;
    bottom: -5px;
    left: 80px;
}
.header .header-right .header-txt{
    /* margin-left: 111px; */
    margin-left: 17%;
    margin-top: 15px;
    font-size: 20px;
    /* font-size: 1vw; */
    width: 90%;
}
.header .header-right .menu{
    margin-top: 150px;
    /* font-size: 20px; */
    font-size: 1vw;
    display: flex;
    width: 100%;
}
.header .header-right .menu .menu-2{
    margin: 0 21%;
    margin-top: 41px;
    position: relative;
}
.header .header-right .menu .menu-2::after,
.header .header-right .menu .menu-3::after
{
    content: "";
    position: absolute;
    /* width: 172px; */
    width: 137%;
    height: 2px;
    background-color: #f9f494;
    /* left: -170px; */
    left: -120%;
    /* top: -8px; */
    top: -18%;
}
.header .header-right .menu .menu-3{
    margin-top: 82px;
    position: relative;
}

.content{
    width: 100%;
}
.content .part .part-wrap{
    max-width: 1450px;
    margin: 0 auto;
    padding-top: 83px;
    display: flex;
    justify-content: space-between;
}
.content .part{
    margin-top: 154px;
    margin-left: 20px;
    margin-right: 20px;
}
.content .part span{
    font-size: 30px;
    font-weight: bold;
    /* margin-left: 282px; */
    margin-left: 16%;
}
.content .part .part-left{
    display: flex;
}
.content .part .part-left .time1,
.content .part .part-left .time2{
    width: 100%;
}
.content .part .part-left .time2{
    margin-left: 31px;
    margin-top: 185px;
}
.content .part .part-left > div img{
    width: 100%;
}
.content .part .part-right{
    padding-top: 106px;
    font-size: 18px;
    line-height: 30px;
}

.content .exh{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 154px;
}
.content .exh span{
    font-size: 30px;
    font-weight: bold;
}
.content .exh .exe-pic img:nth-child(2){
    margin: 0 35px;
    padding-top: 83px;
}
.content .exh .exe-txt{
    text-align-last: left;
    font-size: 18px;
    padding-left: 18px;
    padding-top: 79px;
}

.content .photo{
    margin-top: 154px;
}
.content .photo span{
    font-size: 30px;
    font-weight: bold;
    /* margin-left: 1368px; */
    margin-left: 73%;
}
.content .photo .photo-wrap{
    max-width: 1450px;
    margin: 0 auto;
    padding-top: 83px;
    display: flex;
    justify-content: space-between;
}
.content .photo .photo-right{
    display: flex;
}
.content .photo .photo-right > div,
.content .photo .photo-right > div img{
    width: 100%;
}
.content .photo .photo-right .photo1{
    margin-right: 31px;
    margin-top: 185px;
}
.content .photo .photo-left{
    padding-top: 170px;
    font-size: 18px;
    line-height: 30px;
}




@media screen and (max-width: 640px){
    .header .header-list .logo{
        margin-left: 43%;
    }
    .header .header-list .nav ul{
        display: none;
    }
    .header .header-list .hamburger{
        display: block;
        margin-right: 5%;
    }
    .header .header-left{
        height: 700px;
    }

    .header .exp-header{
        flex-wrap: wrap;
    }
    .header .exp-header .left-wrap{
        padding-top: 40%;
        width: 100%;
    }
    .header .exp-header .header-left{
        flex-basis: 100%;
    }
    .header .exp-header .header-right{
        padding-top: 50px;
        /* width: 100%; */
        flex-basis: 100%;
        margin-left: 0;
        margin: 0 43px;
    }
    .header .header-right .header-title::after{
        width: 200px;
        left: 0;
    }
    .header .exp-header .header-right .header-txt{
        font-size: 0.9em;
        margin-left: 0;
        width: 100%;
    }
    
    /* .content .part{} */
    .content .part span{
        font-size: 1.2em;
    }
    .content .part .part-wrap{
        flex-wrap: wrap;
        width: 100%;
        padding-top: 20px;
    }
    .content .part .part-left .time2{
        margin-left: 0;
        margin-top: 20px;
    }
    .content .part .part-left{
        flex-wrap: wrap;
        margin: 0 20px;
    }
    .content .part .part-left img{
        width: 100%;
    }
    .content .part .part-right{
        margin-left: 60px;
        font-size: 0.9em;
    }
    .header .header-right .menu .menu-2::after,
    .header .header-right .menu .menu-3::after{
        width: 140px;
        left: -120px;
        top: -13px;
    }

    .content .exh{
        width: 100%;
        margin: 0 5px;
    }
    .content .exh span{
        font-size: 1.2em;
    }
    .content .exh .exe-pic{
        margin-top: 20px;
    }
    .content .exh .exe-pic img{
        width: 95%;
    }
    .content .exh .exe-pic img:nth-child(2){
        margin: 0;
        padding-top: 0px;
    }
    .content .exh .exe-txt{
        font-size: 0.9em;
        text-align: left;
        width: 74%;
        /* margin: 0 20px; */
        margin-left: 30px;
    }

    .content .photo{
        /* width: 100%; */
        margin: 150px 20px;
    }
    .content .photo span{
        font-size: 1.2em;
    }
    .content .photo .photo-wrap{
        flex-wrap: wrap-reverse;
        width: 100%;
        padding-top: 20px;
    }
    .content .photo .photo-left{
        /* flex-basis: 100%; */
        font-size: 0.9em;
        /* padding-top: 50px; */
        padding: 50px 10% 0;
        /* margin-left: 30px; */
    }
    .content .photo span{
        margin-left: 60%;
    }
    .content .photo .photo-right{
        flex-wrap: wrap;
        /* width: 100%; */
    }
    .content .photo .photo-right > div,
    .content .photo .photo-right > div img{
        width: 100%;
    }
    .content .photo .photo-right .photo1,
    .content .photo .photo-right .photo1 img{
        width: 107%;
    }
    .content .photo .photo-right .photo1{
        margin-top: 0;
    }


    /* .header .exp-header .header-right .header-title,
    .header .exp-header .header-right .header-txt{
        text-align: center;
    } */
}