@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap');
*{margin: 0; padding: 0; font-family: 'Noto Sans KR';}
ul{list-style: none;}
a{text-decoration: none; color: #000; }
body{
    overflow-y: hidden;
}

.wrap{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}
.wrap.on{
    opacity: 1;
    transition: ease-in-out 0.3s;
}


.header{
    width: 100%;
}
.header .header-list{
    width: 100%;
    height: 100px;
    position: fixed;
    /* background-color: rgba(54, 54, 54, 0.85); */
    z-index: 99;
}
.header .header-list .list-wrap{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-list .nav ul{
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.header .header-list .nav ul li.on a{
    color: #fbf394;
    position: relative;
}
.header .header-list .nav ul li.on a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #363636;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header .header-list .nav ul li a{
    color: #343434;
}
.header .header-list .hamburger{
    cursor: pointer;
    display: none;
}
.header .header-list .hamburger .line{
    width: 28px;
    height: 1px;
    background-color: #000;
}
.header .header-list .hamburger .line:nth-child(2){
    margin: 8px 0;
}
.header .header-list .side-nav{
    position: fixed;
    top: 0;
    width: 230px;
    background-color: #ddd;
    height: 100%;
    right: -300px;
    transition: 0.5s;
}
.header .header-list .side-nav.on{
    right: 0;
    transition: 0.5s;
}
.header .header-list .side-nav .nav-wrap{
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    padding-top: 30px;
}
.header .header-list .side-nav .nav-wrap i{
    padding-bottom: 110px;
    font-size: 20px;
    cursor: pointer;
}
.header .header-list .side-nav .nav-wrap i:hover{
    color: #fbf394;
}
.header .header-list .side-nav .nav-wrap ul{
    margin-top: 150px;
    font-weight: bold;
}
.header .header-list .side-nav .nav-wrap ul li:hover a{
    transition: 0.3s;
    color: #fbf394;
}
.header .header-list .side-nav .nav-wrap ul li:nth-child(2){
    margin: 80px 0;
}

.content{
    width: 100%;
    display: flex;
}
.content .left{
    /* width: 710px; */
    flex-basis: 30%;
    /* height: 1090px; */
    background-color: #000;
    color: #fff;
    font-size: 0.9vw;
}
.content .left .left-wrap{
    /* margin: 248px 360px 0; */
    /* margin: 248px 52% 0; */
    /* margin: 42% 52% 0; */
    padding: 0 42% 0;
    margin-top: 248px;
    flex-basis: 100%;
    box-sizing: border-box;
}
.content .left .left-wrap > div{
    position: relative;
    cursor: pointer;
}
.content .left .left-wrap > div::after{
    content: "";
    position: absolute;
    left: -50px;
    top: -3px;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50px;
    border: 5px solid #fff;
}

.content .left .web,
.content .left .app,
.content .left .logo{
    margin-bottom: 65px;
}
.content .left .web.on span{
    color: #fbf394
}
.content .left .web ul{
    padding-top: 43px;
    padding-left: 17px;
    display: none;
    transition: 0.5s;
}
.content .left .web ul.on{
    display: block;
    transition: 0.5s;
    /* color: #fbf394; */
}
.content .left .web ul li{
    width: 130px;
}
.content .left .web ul li.on{
    color: #fbf394;
}
.content .left .web ul li:nth-child(2){
    margin: 27px 0;
}
/* .content .left .web ul li:nth-child(4){
    margin-top: 27px;
} */

.content .left .app.on{
    color: #fbf394;
}
.content .left .logo.on{
    color: #fbf394;
}
.content .left .cc.on{
    color: #fbf394;
}





.content .right{
    /* max-width: 1210px; */
    flex-basis: 65%;
    height: 1090px;
    overflow: hidden;
    display: flex;
}
.content .right .landrover{
    max-width: 1000px;
    width: 100%;
    /* margin: 237px 97px 0 113px; */
    margin: 20% 10% 0 10%;
    display: flex;
    display: none;
}
.content .right .landrover.on{
    display: block;
    display: flex;
}
.content .right .landrover .mockup .desktop,
.content .right .balenciaga .mockup .desktop,
.content .right .angel .mockup .desktop,
.content .right .r-app .mockup .desktop,
.content .right .r-logo .mockup .desktop,
.content .right .clone .mockup .desktop{
    width: 100%;
    position: relative;
}
.content .right .landrover .mockup .desktop img{
    width: 100%;
}

.content .right .landrover .mockup .desktop::after{
    content: "";
    position: absolute;
    background: url(../images/랜드로버-3차.jpg) center top no-repeat;
    top: 0px;
    right: 0;
    width: 100%;
    height: 71%;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 5s;
}

.content .right .landrover .mockup .bottom > div:hover::after{
    background-position: center bottom;
}

.content .right .landrover .txt{
    width: 360px;
}
.content .right .txt ul li:nth-child(2){
    color: #fbf394;
    font-size: 40px;
    font-weight: bold;

}
.content .right .txt ul li:nth-child(5){
    margin-top: 81px;
    font-weight: bold;
}
.content .right .txt ul li:nth-child(7),
.content .right .txt ul li:nth-child(9){
    margin-top: 65px;
    font-weight: bold;
}
.content .right .txt ul li:nth-child(11){
    margin-left: 35px;
    font-weight: bold;
}
.content .right .txt ul li:nth-child(6),
.content .right .txt ul li:nth-child(8),
.content .right .txt ul li:nth-child(10){
    margin-top: 10px;
}
.content .right .mockup .top{
    display: flex;
    max-width: 450px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 27px;
}
.content .right .mockup .top .button{
    width: 130px;
    /* width: 100%; */
    height: 35px;
    border: 1px solid #fbf394;
    text-align: center;
    line-height: 35px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.content .right .mockup .top .button:hover{
    background-color: #fbf394;
    color: #fff;
    transition: 0.3s;
}

.content .right .balenciaga{
    width: 1000px;
    margin: 237px 97px 0 113px;
    display: flex;
    display: none;
}
.content .right .balenciaga.on{
    display: block;
    display: flex;
}
.content .right .balenciaga .txt{
    width: 360px;
}
.content .right .balenciaga .mockup .desktop img{
    width: 100%;
}
.content .right .balenciaga .mockup .desktop::after{
    content: "";
    position: absolute;
    background: url(../images/발렌시아가-리디자인.jpg) center top no-repeat;
    top: 0px;
    right: 0;
    width: 100%;
    height: 71%;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 5s;
}

.content .right .balenciaga .mockup .bottom > div:hover::after{
    background-position: center bottom;
}


.content .right .angel{
    width: 1000px;
    margin: 237px 97px 0 113px;
    display: flex;
    display: none;
}
.content .right .angel.on{
    display: block;
    display: flex;
}
.content .right .angel .txt{
    width: 360px;
}
.content .right .angel .mockup .desktop img{
    /* position: relative; */
    width: 100%;
}
.content .right .angel .mockup .desktop::after{
    content: "";
    position: absolute;
    background: url(../images/엔제리너스-리디자인2차.jpg) center top no-repeat;
    top: 0px;
    right: 0;
    width: 100%;
    height: 71%;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 5s;
}
.content .right .angel .mockup .bottom > div:hover::after{
    background-position: center bottom;
}

.content .right .r-app{
    width: 1000px;
    margin: 237px 97px 0 113px;
    display: flex;
    display: none;
}
.content .right .r-app.on{
    display: block;
    display: flex;
}
.content .right .r-app .txt{
    width: 360px;
}
.content .right .r-app .mockup .top,
.content .right .r-logo .mockup .top{
    justify-content: center;
}
.content .right .r-app .mockup .desktop img{
    /* position: relative; */
    width: 100%;
}
.content .right .r-app .mockup .desktop::after{
    content: "";
    position: absolute;
    background: url(../images/앱-프로세스-3.jpg) center top no-repeat;
    top: 0px;
    right: 0;
    width: 100%;
    height: 71%;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 5s;
}
.content .right .r-app .mockup .bottom > div:hover::after{
    background-position: center bottom;
}

.content .right .r-logo{
    width: 1000px;
    margin: 237px 97px 0 113px;
    display: flex;
    display: none;
}
.content .right .r-logo.on{
    display: block;
    display: flex;
}
.content .right .r-logo .txt{
    width: 360px;
}
.content .right .r-logo .mockup .desktop img{
    /* position: relative; */
    width: 100%;
}
.content .right .r-logo .mockup .desktop::after{
    content: "";
    position: absolute;
    background: url(../images/MVPet2-\(최종\).jpg) center top no-repeat;
    top: 0px;
    right: 0;
    width: 100%;
    height: 71%;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 9s;
}
.content .right .r-logo .mockup .bottom > div:hover::after{
    background-position: center bottom;
}

.content .right .clone{
    width: 1000px;
    margin: 237px 97px 0 113px;
    display: flex;
    display: none;
}
.content .right .clone.on{
    display: block;
    display: flex;
}
.content .right .clone .txt{
    width: 360px;
}
.content .right .clone .mockup .top{
    padding: 0 100px 27px;
}
.content .right .clone .mockup .desktop img{
    /* position: relative; */
    width: 100%;
}
.content .right .clone .mockup .desktop::after{
    content: "";
    position: absolute;
    background: url(../images/clone.png) center top no-repeat;
    top: 0px;
    right: 0;
    width: 100%;
    height: 71%;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 9s;
}
.content .right .clone .mockup .bottom > div:hover::after{
    background-position: center bottom;
}


@media screen and (min-width: 641px) and (max-width: 1200px) {

    .content .right .landrover,
    .content .right .balenciaga,
    .content .right .angel,
    .content .right .r-app,
    .content .right .r-logo,
    .content .right .clone{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 20px;
    }
    .content .right .landrover .mockup,
    .content .right .balenciaga .mockup,
    .content .right .angel .mockup,
    .content .right .r-app .mockup,
    .content .right .r-logo .mockup,
    .content .right .clone .mockup{
        padding-top: 20px;
    }
    .content .right .txt{
        margin-left: -10%;
        margin-right: 20px;
    }
    .content .right .txt ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* text-align: center; */
        height: 130px;
        margin-top: 250px;
        width: 140%;
        font-size: 100%;
        justify-content: space-between;
    }
    .content .right .txt ul li:nth-child(5){
        margin-top: 0px;
    }
    .content .right .txt ul li:nth-child(7),
    .content .right .txt ul li:nth-child(9){
        margin-top: 0px;
    }
}

@media screen and (max-width: 640px) {
    .header .header-list .logo{
        margin-left: 43%;
    }
    .header .header-list .nav ul{
        display: none;
    }
    .header .header-list .hamburger{
        display: block;
        margin-right: 5%;
    }

    /* .content .left .left-wrap{
        margin: 248px 70px;
    } */
    .content .right .landrover,
    .content .right .balenciaga,
    .content .right .angel,
    .content .right .r-app,
    .content .right .r-logo,
    .content .right .clone{
        flex-wrap: wrap;
        margin: 248px 10px;
        text-align: center;
    }
    .content .right .landrover .txt,
    .content .right .balenciaga .txt,
    .content .right .angel .txt,
    .content .right .r-app .txt,
    .content .right .r-logo .txt,
    .content .right .clone .txt{
        width: 100%;
        font-size: 30%;
    }
    .content .right .txt ul li:nth-child(5){
        margin-top: 50px;
    }
    .content .right .txt ul li:nth-child(7),
    .content .right .txt ul li:nth-child(9){
        margin-top: 20px;
    }
    .content .right .landrover .mockup,
    .content .right .balenciaga .mockup,
    .content .right .angel .mockup,
    .content .right .r-app .mockup,
    .content .right .r-logo .mockup,
    .content .right .clone .mockup{
        margin-top: 20px;
    }
    .content .right .landrover .mockup .desktop,
    .content .right .balenciaga .mockup .desktop,
    .content .right .angel .mockup .desktop,
    .content .right .r-app .mockup .desktop,
    .content .right .r-logo .mockup .desktop,
    .content .right .clone .mockup .desktop{
        width: 100%;
    }
    .content .right .mockup .top .button{
        width: 30%;
        font-size: 0.6em;
    }
}
